h2 {
    background-color: #fbe3db;
    margin: 0px;
    text-align: center;
    border: 1px solid;
    border-color: grey;
    font-family: serif;
    font-size: 20px;
    color: rgba(70, 66, 66, 0.61);
    padding: 10px;
}


header {
    color: #dff7f8;
    font-size: 20px;
    background-color: #416f9a;
    border: 5px solid;
    border-color: rgba(156, 120, 48, 0.447);
    border-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    top: 0;
    padding-bottom: 5px;
}

footer {

    width: 100%;
    padding-top: 10px;
    background-color: #fbe3db;
    text-align: center;
    color: rgba(70, 66, 66, 0.61);


}

p {
    line-height: 25px;
    background-color: aliceblue;
    margin: 20px;
    text-align: center;
    color: #7a1a04c7;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: center;
}


li a {
    display: block;
    border-bottom: rgba(156, 120, 48, 0.447) 2px solid;

}

li a:hover {
    color: whitesmoke;
    background-color: #416f9a;
}

ul {
    background-color: bisque;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    width: 100px;
    border: #416f9a solid;
    /* height: 100%;
    /* position: fixed; */
    overflow: auto;
    
}

a {
    color: #7a1a04c7;
    font-style: italic;
}

@media screen and (max-width:700px) {
    .new {
        font-size: 15px;
    }

    /*
      h2{
        font-size: 20px;
      } */

}

@media screen and (max-width:600px) {
    .new {
        font-size: 10px;
    }

    /* h2{
        font-size: 20px;
      } */

}